

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #132;
  font: 1.5em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

header {
padding: 1% 4%;

}

h1 { 
  font-family: 'Play', sans-serif; 
  font-size: 6.5rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.13; 
  text-shadow: 8px 8px 6px #231; 
}

h2 {
  font-size: 2.3125rem; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.01;
  margin: 0 0 .5em; /* 0 0 26px */
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(115, 199, 13);
  text-decoration: none;
}

a:visited {
  color: olive;
}

a:hover {
  color: rgba(115, 199, 13, .4);
}

a:active {
  color: green;
}

/*  Styles --------------------- */

.wrapper{
  background: linear-gradient(  0deg, white, rgba(225,75,25,0), rgba(50,75,25,1) );
}


.container {
	margin: 0 ;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  padding: 1% 4%;
  /* equal to footer height */
  }

.container:after {
  content: "";
  display: block;
}


.main-footer, .container:after {
  height: 32px; 
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: 0.05em;
  padding: 2%;
  margin: 2%;
  display: block;
 
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}


.secondary-content {
  -webkit-columns: 280px 4;
	}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
 
}

.main-footer {
  color: white;
  padding:  1% 0;
  text-align: center;
  background: #231;
 }

.t-border {
  border-top: 2px solid #ab9;
}

/* Layout Styles ------------------ */

.secondary-content {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.site {
  color: white;
  text-align: left;
  padding: 2% 3%;
  border-top: 10px solid #693;
  margin: 15px 1% 20px;
  background: #231;
  box-shadow: 3px 5px 8px -2px #462 inset;
  border-radius: 50px 0px;
}

.img {
	width: 150px;
  height: 150px;
  -webkit-filter: drop-shadow(1px 1px 6px #CEA);
  align-items: center;
  display: block;
  margin-top: 10%;
}

.ball {
 
}

.arrow {

}

/* Floated Columns ------------------ */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}